<a href="https://colab.research.google.com/github/2303A51144/2303a51144_B17/blob/main/2303a51144_lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

students = pd.DataFrame({
    'student_id': [11, 22, 33, 44, 55],
    'name': ['Sanskar', 'Vishwa', 'Charlie', 'Rohit', 'suu'],
    'gender': ['M', 'M', 'M', 'M', 'F']
})

exam_scores = pd.DataFrame({
    'student_id': [11, 22, 33, 66],
    'math_score': [98, 90, 78, 88],
    'english_score': [92, 85, 80, 75]
})

print("ðŸ“˜ Students Dataset:")
print(students)
print("\nðŸ“— Exam Scores Dataset:")
print(exam_scores)

inner_merge = pd.merge(students, exam_scores, on='student_id', how='inner')
print("\nðŸ”— Inner Join Result:")
print(inner_merge)

left_merge = pd.merge(students, exam_scores, on='student_id', how='left')
print("\nðŸ”— Left Join Result:")
print(left_merge)

right_merge = pd.merge(students, exam_scores, on='student_id', how='right')
print("\nðŸ”— Right Join Result:")
print(right_merge)

print("\nðŸ“Š Aggregate Statistics (Inner Join Data):")
print("Mean Scores:\n", inner_merge[['math_score', 'english_score']].mean())
print("Max Scores:\n", inner_merge[['math_score', 'english_score']].max())
print("Min Scores:\n", inner_merge[['math_score', 'english_score']].min())
print("Count of Scores:\n", inner_merge[['math_score', 'english_score']].count())

grouped_stats = inner_merge.groupby('gender')[['math_score', 'english_score']].agg(['mean', 'max', 'min', 'count'])
print("\nðŸ“Š Grouped Statistics by Gender:")
print(grouped_stats)

ðŸ“˜ Students Dataset:
   student_id     name gender
0          11  Sanskar      M
1          22   Vishwa      M
2          33  Charlie      M
3          44    Rohit      M
4          55      suu      F

ðŸ“— Exam Scores Dataset:
   student_id  math_score  english_score
0          11          98             92
1          22          90             85
2          33          78             80
3          66          88             75

ðŸ”— Inner Join Result:
   student_id     name gender  math_score  english_score
0          11  Sanskar      M          98             92
1          22   Vishwa      M          90             85
2          33  Charlie      M          78             80

ðŸ”— Left Join Result:
   student_id     name gender  math_score  english_score
0          11  Sanskar      M        98.0           92.0
1          22   Vishwa      M        90.0           85.0
2          33  Charlie      M        78.0           80.0
3          44    Rohit      M         NaN            NaN
4          55      suu      F         NaN            NaN

ðŸ”— Right Join Result:
   student_id     name gender  math_score  english_score
0          11  Sanskar      M          98             92
1          22   Vishwa      M          90             85
2          33  Charlie      M          78             80
3          66      NaN    NaN          88             75

ðŸ“Š Aggregate Statistics (Inner Join Data):
Mean Scores:
 math_score       88.666667
english_score    85.666667
dtype: float64
Max Scores:
 math_score       98
english_score    92
dtype: int64
Min Scores:
 math_score       78
english_score    80
dtype: int64
Count of Scores:
 math_score       3
english_score    3
dtype: int64

ðŸ“Š Grouped Statistics by Gender:
       math_score               english_score
             mean max min count          mean max min count
gender
M       88.666667  98  78     3     85.666667  92  80     3

In [8]:
import pandas as pd

customers = pd.read_csv("customers.csv")
sales = pd.read_csv("sales.csv")

print("Customers dataset shape:", customers.shape)
print("Sales dataset shape:", sales.shape)
print("\nCustomers columns:", customers.columns.tolist())
print("Sales columns:", sales.columns.tolist())
print("\nCustomers sample:\n", customers.head())
print("\nSales sample:\n", sales.head())

merged_inner = pd.merge(customers, sales, left_on='customer_id', right_on='customer_id', how='inner')
merged_left = pd.merge(customers, sales, left_on='customer_id', right_on='customer_id', how='left')

print("Inner Join Merge:\n", merged_inner.head(), "\n")
print("Left Join Merge:\n", merged_left.head(), "\n")

total_sales = sales['amount'].sum()
mean_sales = sales['amount'].mean()
sales_per_cust = sales.groupby('customer_id')['amount'].agg(['sum', 'mean', 'count']).reset_index()

print(f"Total sales: {total_sales:.2f}")
print(f"Average sale: {mean_sales:.2f}")
print("Sales per customer:\n", sales_per_cust.head(), "\n")

sales_with_country = pd.merge(sales, customers[['customer_id', 'region']], left_on='customer_id', right_on='customer_id', how='left')
region_stats = sales_with_country.groupby('region')['amount'].agg(['sum', 'mean', 'count']).sort_values(by='sum', ascending=False).reset_index()

print("Sales by region (Country):\n", region_stats)

best_region = region_stats.loc[region_stats['sum'].idxmax()]
print(f"Top performing region: {best_region['region']} with total sales {best_region['sum']:.2f}")

display(merged_inner)

Customers dataset shape: (5, 3)
Sales dataset shape: (10, 3)

Customers columns: ['customer_id', 'name', 'region']
Sales columns: ['sale_id', 'customer_id', 'amount']

Customers sample:
    customer_id   name region
0            1   Amit  North
1            2   Neha  South
2            3  Rahul   East
3            4  Pooja   West
4            5  Arjun  North

Sales sample:
    sale_id  customer_id  amount
0      101            1     500
1      102            2     700
2      103            3     300
3      104            1     400
4      105            5     600
Inner Join Merge:
    customer_id  name region  sale_id  amount
0            1  Amit  North      101     500
1            1  Amit  North      104     400
2            1  Amit  North      110     700
3            2  Neha  South      102     700
4            2  Neha  South      107     900

Left Join Merge:
    customer_id  name region  sale_id  amount
0            1  Amit  North      101     500
1            1  Amit  North      104     400
2            1  Amit  North      110     700
3            2  Neha  South      102     700
4            2  Neha  South      107     900

Total sales: 6100.00
Average sale: 610.00
Sales per customer:
    customer_id   sum        mean  count
0            1  1600  533.333333      3
1            2  1600  800.000000      2
2            3   500  250.000000      2
3            4   800  800.000000      1
4            5  1600  800.000000      2

Sales by region (Country):
   region   sum   mean  count
0  North  3200  640.0      5
1  South  1600  800.0      2
2   West   800  800.0      1
3   East   500  250.0      2
Top performing region: North with total sales 3200.00

   customer_id   name region  sale_id  amount
0            1   Amit  North      101     500
1            1   Amit  North      104     400
2            1   Amit  North      110     700
3            2   Neha  South      102     700
4            2   Neha  South      107     900
5            3  Rahul   East      103     300
6            3  Rahul   East      108     200
7            4  Pooja   West      106     800
8            5  Arjun  North      105     600
9            5  Arjun  North      109    1000